@inject ServerApiHttpClient Api
@inject ILogger<TaskRebookDriver> Logger

<TaskTemplate @ref="taskRef" TModel="TaskRebookDriverCommand" Title="Rebook Driver" OnCompleted="OnCompleted" 
    Url="/api/servicebooking" Id="@ServiceBooking.Id" Task="rebookdriver">
    @if (isLoaded)
    {
        <InputRadioGroup @bind-Value="taskRef.Model.Result">
            <div class="option">
                <div class="option-select">
                    <InputRadio id="stillgoing" Value="TaskRebookDriverCommand.TaskResult.StillGoing" />
                    <label for="stillgoing">Still Going</label>
                </div>
            </div>

            <div class="option">
                <div class="option-select">
                    <InputRadio id="notoging" Value="TaskRebookDriverCommand.TaskResult.NotGoing" />
                    <label for="notoging">Not Going</label>
                </div>
            </div>

            <div class="option">
                <div class="option-select">
                    <InputRadio id="stillgoingtoday" Value="TaskRebookDriverCommand.TaskResult.StillGoingToday" />
                    <label for="stillgoingtoday">Still Going Today</label>
                </div>
                <fieldset class="option-data" disabled="@OptionStillGoingTodayDisabled">
                    <label for="arrivaltime">Time</label>
                    <InputDate id="arrivaltime" @bind-Value="taskRef.Model.ArrivalTime" Type="InputDateType.Time" />
                    <ValidationMessage For="@(() => taskRef.Model.ArrivalTime)" />
                </fieldset>
            </div>

            <div class="option">
                <div class="option-select">
                    <InputRadio id="rescheduled" Value="TaskRebookDriverCommand.TaskResult.Rescheduled" />
                    <label for="rescheduled">Reschedule</label>
                </div>
                <fieldset class="option-data" disabled="@OptionRescheduledDisabled">
                    <CascadingValue Value="OptionRescheduledDisabled" Name="IsDisabled">
                        <label for="rescheduledate">Date</label>
                        <InputDate id="rescheduledate" @bind-Value="taskRef.Model.RescheduleDate" />
                        <ValidationMessage For="@(() => taskRef.Model.RescheduleDate)" />

                        <label for="rescheduletime">Time</label>
                        <InputDate id="rescheduletime" @bind-Value="taskRef.Model.RescheduleTime" Type="InputDateType.Time" />
                        <ValidationMessage For="@(() => taskRef.Model.RescheduleTime)" />

                        <InputSelectOnlyCombobox Options="@rescheduleReasonOptions" LabelText="Reason" @bind-Value="taskRef.Model.RescheduleReason" />
                        <ValidationMessage For="@(() => taskRef.Model.RescheduleReason)" />
                    </CascadingValue>
                </fieldset>
            </div>

        </InputRadioGroup>

        <div class="option">
            <label for="callee">Callee</label>
            <InputText id="callee" @bind-Value="taskRef.Model.Callee" />
            <ValidationMessage For="@(() => taskRef.Model.Callee)" />
        </div>
    }
    else if (errorMessage is not null)
    {
        <div class="error">
            <p>@errorMessage</p>
        </div>
    }
</TaskTemplate>

@code {
    [Parameter, EditorRequired] public ServiceBookingFullDto ServiceBooking { get; set; } = null!;
    [Parameter, EditorRequired] public EventCallback<bool> OnCompleted { get; set; }

    TaskTemplate<TaskRebookDriverCommand> taskRef = null!;

    List<SelectOption<string?>> rescheduleReasonOptions = null!;
    bool isLoaded;
    bool OptionStillGoingDisabled => taskRef.Model.Result != TaskRebookDriverCommand.TaskResult.StillGoing;
    bool OptionNotGoingDisabled => taskRef.Model.Result != TaskRebookDriverCommand.TaskResult.NotGoing;
    bool OptionStillGoingTodayDisabled => taskRef.Model.Result != TaskRebookDriverCommand.TaskResult.StillGoingToday;
    bool OptionRescheduledDisabled => taskRef.Model.Result != TaskRebookDriverCommand.TaskResult.Rescheduled;
    string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        ArgumentNullException.ThrowIfNull(ServiceBooking);
        if (!OnCompleted.HasDelegate) throw new ArgumentNullException(nameof(OnCompleted));

        var rescheduleReasons = Api.GetRescheduleReasons(ServiceBooking.CompanyCode);

        var dataLoad = Task.WhenAll(rescheduleReasons);

        try
        {
            await dataLoad;
        }
        catch { }

        if (dataLoad.Status == TaskStatus.RanToCompletion)
        {
            rescheduleReasonOptions = UIOptions.BuildRescheduleReasonOptions(rescheduleReasons.Result);
            isLoaded = true;
        }
        else
        {
            errorMessage = "Failed to load.";
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            taskRef.Model.RescheduleDate = DateOnly.FromDateTime(DateTime.Today);
            taskRef.Model.RescheduleTime = TimeOnly.FromDateTime(DateTime.Now);

            StateHasChanged();
        }
    }
}
