@page "/vehicle/view/{id:guid}"
@using System.Diagnostics;
@inject ServerApiHttpClient Http
@inject ILogger<View> Logger
@attribute [Authorize]

<PageTitle>Vehicle</PageTitle>

@if (loadingException is not null)
{
    <RetryLoad Exception="loadingException" OnRetry="LoadVehicle" />
}
else
{
    <ViewTemplate TypeName="Vehicle" Title="@Title">
        <IconContent>
            <div class="entity-svg-vehicle">
                <svg viewBox="0 0 512 512">
                    <use xlink:href="icons/solid.svg#car" />
                </svg>
            </div>
        </IconContent>
        <Buttons>
            <button onclick="Follow">Follow</button>
        </Buttons>
        <HeaderContent>
            @if (vehicle is not null)
            {
                <dl>
                    <div class="namevalue">
                        <dt>Vrm</dt>
                        <dd>@vehicle.Vrm</dd>
                    </div>
                    <div class="namevalue">
                        <dt>Make</dt>
                        <dd>@vehicle.Make</dd>
                    </div>
                    <div class="namevalue">
                        <dt>Model</dt>
                        <dd>@vehicle.Model</dd>
                    </div>
                    <div class="namevalue">
                        <dt>Customer</dt>
                        <dd><a href="">@vehicle.Customer?.Name</a></dd>
                    </div>
                    <div class="namevalue">
                        <dt>Fleet</dt>
                        <dd><a href="">@vehicle.Fleet?.Name</a></dd>
                    </div>
                </dl>
            }
        </HeaderContent>
        <ChildContent>
            @if (vehicle is not null)
            {
                <TabControl Title="Vehicle Tabs" TitleVisible="false">
                    <TabPage Text="Details">
                            <Edit Vehicle="@vehicle" OnAfterSave="LoadVehicle" />
                    </TabPage>
                    <TabPage Text="Related">
                        <div class="related50">
                        <CustomerRelated Customer="vehicle.Customer" VehicleId="@Id" OnChanged="LoadVehicle" />
                        <FleetRelated Fleet="vehicle.Fleet" VehicleId="@Id" OnChanged="LoadVehicle" />
                        </div>
                        <DriverRelatedList Items="vehicle.Drivers" VehicleId="@Id" OnChanged="LoadVehicle" />
                    </TabPage>
                    <TabPage Text="Work">
                        <WorkList Id="Id" />
                    </TabPage>
                </TabControl>
            }
        </ChildContent>
    </ViewTemplate>
}

@code {
    [Parameter, EditorRequired] public Guid Id { get; set; }

    Exception? loadingException;  
    VehicleFullDto? vehicle;
    string Title => vehicle is null ? "" : vehicle.Vrm;

    async Task LoadVehicle()
    {
        try
        {
            vehicle = await Http.GetVehicleFullAsync(Id);
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to load vehicle.");
            loadingException = ex;
        }
    }

    async Task Follow()
    {
        await Task.CompletedTask;
    }

    async Task NewDriver()
    {
        await Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        ArgumentNullException.ThrowIfNull(Id);

        await LoadVehicle();
    }
}