@page "/vehicle/view/{id:guid}"
@using System.Diagnostics;
@inject ServerApiHttpClient Http
@inject VehicleApiClient Api
@inject ILogger<View> Logger
@attribute [Authorize]

<PageTitle>Vehicle</PageTitle>

@if (loadingException is not null)
{
    <RetryLoad Exception="loadingException" OnRetry="LoadVehicle" />
}
else
{
    <ViewTemplate TypeName="Vehicle" Title="@Title">
        <IconContent>
            <div class="svg-large svg-vehicle">
                <img alt="Vehicle" src="icons/vehicle.svg" />
            </div>
        </IconContent>
        <Buttons>
            @if(vehicle is not null)
            {
                <FollowButton Id="vehicle.Id" OnFollow="Api.Follow" OnUnfollow="Api.Unfollow" @bind-IsFollowing="vehicle.IsFollowing" />
                <button @onclick="() => addingNote = true">Add Note</button>
            }
        </Buttons>
        <HeaderContent>
            @if (vehicle is not null)
            {
                <dl>
                    <div class="namevalue">
                        <dt>Vrm</dt>
                        <dd>@vehicle.Vrm</dd>
                    </div>
                    <div class="namevalue">
                        <dt>Make</dt>
                        <dd>@vehicle.Make</dd>
                    </div>
                    <div class="namevalue">
                        <dt>Model</dt>
                        <dd>@vehicle.Model</dd>
                    </div>
                    <div class="namevalue">
                        <dt>Customer</dt>
                        <dd><a href="">@vehicle.Customer?.Name</a></dd>
                    </div>
                    <div class="namevalue">
                        <dt>Fleet</dt>
                        <dd><a href="">@vehicle.Fleet?.Name</a></dd>
                    </div>
                </dl>
            }
        </HeaderContent>
        <ChildContent>
            @if (vehicle is not null)
            {
                <TabControl Title="Vehicle Tabs" TitleVisible="false">
                    <TabPage Text="Details">
                        <Edit Vehicle="@vehicle" OnAfterSave="@LoadVehicle" />
                    </TabPage>
                    <TabPage Text="Related">
                        <div class="related50">
                            <CustomerRelated Customer="vehicle.Customer" Vehicle="vehicle" OnChanged="LoadVehicle" />
                            <FleetRelated Fleet="vehicle.Fleet" Vehicle="vehicle" OnChanged="LoadVehicle" />
                        </div>
                        <DriverRelatedList Items="vehicle.Drivers" VehicleId="@Id" OnChanged="LoadVehicle" />
                    </TabPage>
                    <TabPage Text="Work">
                        <WorkList Id="Id" />
                    </TabPage>
                    <TabPage Text="Activity">
                        <Activity Id="vehicle.Id" OnLoadActivities="Api.GetActivity" />
                    </TabPage>
                </TabControl>
            }
        </ChildContent>
    </ViewTemplate>
    @if (vehicle is not null && addingNote)
    {
        <AddNoteDialog OnClose="() => addingNote = false" Id="@vehicle.Id.ToString()" OnAddNote="Api.AddNote" />
    }
}

@code {
    [Parameter, EditorRequired] public Guid Id { get; set; }

    bool addingNote;
    Exception? loadingException;
    VehicleFullDto? vehicle;
    string Title => vehicle is null ? "" : vehicle.Vrm;

    async Task LoadVehicle()
    {
        try
        {
            vehicle = await Api.GetVehicleFullAsync(Id);
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to load vehicle.");
            loadingException = ex;
        }
    }

    // async Task Follow()
    // {
    //     await Task.CompletedTask;
    // }

    async Task NewDriver()
    {
        await Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        ArgumentNullException.ThrowIfNull(Id);

        await LoadVehicle();
    }
}