@page "/people/view/{id}"
@inject HttpClient Http
@inject ILogger<View> Logger
@attribute [Authorize]

@using System.ComponentModel.DataAnnotations

<PageTitle>Person</PageTitle>

<section>
    <h1>Person</h1>
    <a href="/people/view/2">Edit Person</a>

    <EditFormTemplate @ref="editForm" Id="@Id" ApiUrl="Person" OnLoad="LoadPerson">
        <DataAnnotationsValidator />

        <div class="form-section">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="editForm.Model.Name" />
            <ValidationMessage For="@(() => editForm.Model.Name)" />


            <label for="email">Email</label>
            <InputText id="email" @bind-Value="editForm.Model.Email" />
            <ValidationMessage For="@(() => editForm.Model.Email)" />


            <label for="age">Age</label>
            <InputNumber id="age" @bind-Value="editForm.Model.Age" disabled />
            <ValidationMessage For="@(() => editForm.Model.Age)" />


            <label for="isAdministrator">Is Admin</label>
            <InputCheckbox id="isAdministrator" @bind-Value="editForm.Model.IsAdministrator" />
            form.Model

            <label for="birthDate">Birth Date</label>
            <InputDate id="birthDate" @bind-Value="editForm.Model.BirthDate" />
            <ValidationMessage For="@(() => editForm.Model.BirthDate)" />


            <label for="notes">Notes</label>
            <InputTextArea id="notes" @bind-Value="editForm.Model.Notes" />
            <ValidationMessage For="@(() => editForm.Model.Notes)" />
        </div>
        <div class="form-section">
            <InputSelectOnlyCombobox Options="@statusOptions" LabelText="Status" @bind-Value="editForm.Model.Status" />
            <ValidationMessage For="@(() => editForm.Model.Status)" />

            <label>Manufacturer</label>
            <div class="form-control">
                <InputRadioGroup @bind-Value="editForm.Model.TheManufacturer">
                    @foreach (var manufacturer in (Person.Manufacturer[])Enum.GetValues(typeof(Person.Manufacturer)))
                    {

                        <InputRadio Value="@manufacturer" />
                        <text>&nbsp;</text>

                        @manufacturer

                    }
                </InputRadioGroup>
            </div>
            <ValidationMessage For="@(() => editForm.Model.TheManufacturer)" />
        </div>
    </EditFormTemplate>
</section>

@code {
    [Parameter]
    public string Id { get; set; } = null!;

    EditFormTemplate<Person> editForm = null!;

    List<SelectOption<int?>> statusOptions = new()
    {
        new (null, "-- Select Status --"),
        new (0, "Active"),
        new (1, "Inactive"),
    };

    async Task<Person?> LoadPerson()
        => await Http.GetFromJsonAsync<Person>($"Person/{Id}");

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        Logger.LogInformation("SetParametersAsync()");
        await base.SetParametersAsync(parameters);
        //await Task.Delay(1000);
    }
    protected override void OnInitialized()
    {
        Logger.LogInformation("OnInitialized()");
        base.OnInitialized();
    }
    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation("OnInitializedAsync()");
        await base.OnInitializedAsync();
        //await Task.Delay(1000);
    }
    protected override void OnParametersSet()
    {
        Logger.LogInformation("OnParametersSet()");
        base.OnParametersSet();
    }
    protected override async Task OnParametersSetAsync()
    {
        Logger.LogInformation("OnParametersSetAsync()");
        await base.OnParametersSetAsync();
        //await Task.Delay(1000);
    }
    protected override void OnAfterRender(bool firstRender)
    {
        Logger.LogInformation("OnAfterRender({firstRender})", firstRender);
        base.OnAfterRender(firstRender);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Logger.LogInformation("OnAfterRenderAsync({firstRender})", firstRender);
        await base.OnAfterRenderAsync(firstRender);
        //await Task.Delay(1000);
    }
}