@using System.Diagnostics.CodeAnalysis;
@inject ILogger<FleetRelated> Logger
@inject ServerApiHttpClient Api
@inject VehicleApiClient VehicleApi

<RelatedItem TypeName="Fleet" Item="Fleet" Context="customer">
    <IconContent>
        <div class="svg-medium svg-fleet">
            <img src="icons/fleet.svg" />
        </div>
    </IconContent>
    <Buttons>
        <button @onclick="() => addFleetDialogActive = true">Change</button>
    </Buttons>
    <ItemTemplate>
     
            <div class="content-header">
                <h1><a href="/customer/view/@customer!.Code">@customer!.Name</a></h1>
                <MenuButton Items="@driverOptions" Align="MenuButton.Alignment.Right"
                            OnSelectCallback="(val) => OptionSelected(val, customer)" />
            </div>
            <dl>
                <dt>Code:</dt>
                <dd>@customer.Code</dd>
            </dl>
  
    </ItemTemplate>
</RelatedItem>

@if (removeFleetDialogActive)
{
    <Dialog AutoShow="Dialog.ShowMode.ShowModal">
        <div class="dialog-container">
            <div class="dialog-header">
                <h1>Confirm</h1>
            </div>
            <div class="dialog-content">
                <p>Are you sure you want to remove @selectedFleet.Name ?</p>
            </div>
            <div class="dialog-footer">
                <div class="dialog-controls">
                    <button @onclick="() => removeFleetDialogActive = false">No</button>
                    <button type="submit" @onclick="RemoveFleetFromVehicle">Yes</button>
                </div>
                @if (removeErrorMessage is not null)
                {
                    <p class="error">@removeErrorMessage</p>
                }
            </div>
        </div>
    </Dialog>
}

@if (addFleetDialogActive)
{
    <ListSelector TItem="FleetShortDto" Title="Find Fleet"
                  OnSelected="FleetSearchDialogSelect"
                  OnGetItems="FindFleets"
                  OnClose="() => addFleetDialogActive = false">
        <TableHeader>
            <th>Code</th>
            <th>Name</th>
        </TableHeader>
        <RowTemplate>
            <td>@context.Code</td>
            <td>@context.Name</td>
        </RowTemplate>
    </ListSelector>
}

@code {
    [Parameter, EditorRequired] public FleetShortDto? Fleet { get; set; } = null!;
    [Parameter, EditorRequired] public VehicleFullDto Vehicle { get; set; } = null!;
    [Parameter, EditorRequired] public EventCallback OnChanged { get; set; }

    bool addFleetDialogActive = false;
    bool removeFleetDialogActive = false;
    FleetShortDto selectedFleet = null!;
    string removeErrorMessage = null!;

    const string optionRemove = "Remove";
    string[] driverOptions = new string[] { optionRemove };
    void OptionSelected(string option, FleetShortDto customer)
    {
        if (option == optionRemove)
        {
            selectedFleet = customer;
            removeFleetDialogActive = true;
        }
    }

    Task<List<FleetShortDto>?> FindFleets(string filter)
        => Api.GetFleetsShortAsync(Vehicle.CompanyCode, filter);

    async Task FleetSearchDialogSelect(FleetShortDto item)
    {
        await VehicleApi.AssignFleetToVehicleAsync(Vehicle.Id, item.Code);

        await OnChanged.InvokeAsync();

        addFleetDialogActive = false;
    }

    async Task RemoveFleetFromVehicle()
    {
        try
        {
            await VehicleApi.RemoveFleetFromVehicleAsync(Vehicle.Id);

            if (OnChanged.HasDelegate)
            {
                await OnChanged.InvokeAsync();
            }

            removeFleetDialogActive = false;
        }
        catch (Exception ex)
        {
            removeErrorMessage = "An error occurred while trying to remove the customer.";
            Logger.LogError(ex, removeErrorMessage);
        }
    }

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(Vehicle);
        if (!OnChanged.HasDelegate) throw new ArgumentNullException(nameof(OnChanged));
    }
}
