@page "/servicebooking/view/{id:guid}"
@inject ServerApiHttpClient Api
@inject ILogger<View> Logger
@attribute [Authorize]

<PageTitle>Service Booking</PageTitle>

@if (loadingException is not null)
{
    <RetryLoad Exception="loadingException" OnRetry="LoadServiceBooking" />
}
else
{
    <ViewTemplate TypeName="Service Booking" Title="@Title">
        <IconContent>
            <div class="entity-svg-servicebooking">
                <svg viewBox="0 0 448 512">
                    <use xlink:href="icons/solid.svg#book" />
                </svg>
            </div>
        </IconContent>
        <Buttons>
            @if (serviceBooking is not null)
            {
                <FollowButton Id="serviceBooking.Id" OnFollow="Api.Follow" OnUnfollow="Api.Unfollow" @bind-IsFollowing="serviceBooking.IsFollowing" />
            }
        </Buttons>
        <HeaderContent>
            @if (serviceBooking is not null)
            {
                <dl>
                    <div class="namevalue">
                        <dt>Status</dt>
                        <dd>@serviceBooking.StatusText</dd>
                    </div>
                    <div class="namevalue">
                        <dt>Vrm</dt>
                        <dd><a href="/vehicle/view/@serviceBooking.VehicleId">@serviceBooking.Vrm</a></dd>
                    </div>
                    <div class="namevalue">
                        <dt>Make</dt>
                        <dd>@serviceBooking.Make</dd>
                    </div>
                    <div class="namevalue">
                        <dt>Model</dt>
                        <dd>@serviceBooking.Model</dd>
                    </div>
                    <div class="namevalue">
                        <dt>Supplier</dt>
                        <dd><a href="/supplier/view/@serviceBooking.Supplier_Code">@serviceBooking.Supplier_Name</a></dd>
                    </div>
                </dl>
            }
        </HeaderContent>
        <ChildContent>
            @if (serviceBooking is not null)
            {
                <TaskView ServiceBooking="serviceBooking" OnSelectTask="SelectTask" />

                <div class="grid-2">
                    <TabControl Title="Service Booking Tabs" TitleVisible="false">
                        <TabPage Text="Details">
                            <Edit ServiceBooking="@serviceBooking" OnAfterSave="LoadServiceBooking" />
                        </TabPage>
                        <TabPage Text="Events">
                            <Events ServiceBooking="serviceBooking" />
                        </TabPage>
                        <TabPage Text="Activity">
                            <Activity Id="serviceBooking.Id" OnLoadActivities="Api.GetActivity" OnAddNote="Api.AddNote" />
                        </TabPage>
                    </TabControl>
                    <div class="task">
                        @if (taskType is not null)
                        {
                            <DynamicComponent Type="@taskType" Parameters="@taskParameters" />
                        }
                    </div>
                </div>
            }
        </ChildContent>
    </ViewTemplate>
}

@if (displayTask == "Assign Supplier")
{
    <SupplierSelector TItem="SupplierLocatorDto" Id="Id"
                      OnSelected="SupplierDialogSelect"
                      OnGetItems="Api.GetSuppliersForServiceBookingShortAsync"
                      OnClose="() => displayTask = null">
        <TableHeader>
            <th>Distance</th>
            <th>Code</th>
            <th>Name</th>
        </TableHeader>
        <RowTemplate>
            <td>@context.DistanceInMiles.ToString("0.00")</td>
            <td>@context.Code</td>
            <td>@context.Name</td>
        </RowTemplate>
    </SupplierSelector>
}

@code {
    [Parameter, EditorRequired] public Guid Id { get; set; }

    string? displayTask;

    Exception? loadingException;
    ServiceBookingFullDto? serviceBooking;
    string Title => serviceBooking is null ? "" : serviceBooking.Ref;
    Type? taskType;
    Dictionary<string, object> taskParameters = new();

    async Task TaskCompleted(bool saved)
    {
        displayTask = null;
        taskType = null;
        if (saved)
        {
            await LoadServiceBooking();
        }
    }

    async Task SupplierDialogSelect(SupplierLocatorDto item)
    {
        var result = await Api.AssignSupplier(Id, new TaskAssignSupplierCommand() { SupplierCode = item.Code });

        if (result is PostResponse.Success)
        {
            displayTask = null;
            await LoadServiceBooking();
        }
        else
        {
            if (result is PostResponse.UnprocessableEntity ue)
            {
                //TODO should never happen but if it does should we show errors? Probably not.
                throw new InvalidOperationException("Validation error.");
            }
            else
            {
                if (result is PostResponse.BadRequest br)
                {
                    throw new VmsDomainException(br.ErrorMessage);
                }
                else// if (result is PostResponse.Failure)
                {
                    throw new InvalidOperationException("There was a problem sending your request.");
                }
            }
        }
    }

    void SelectTask(string name)
    {
        displayTask = name;

        taskType = name switch
        {
            "Book Supplier" => typeof(TaskBookSupplier),
            "Unbook Supplier" => typeof(TaskUnbookSupplier),
            "Confirm Booked" => typeof(TaskConfirmBooked),
            "Check Arrival" => typeof(TaskCheckArrival),
            "Check Work Status" => typeof(TaskCheckWorkStatus),
            "Notify Customer" => typeof(TaskNotifyCustomer),
            "Notify Customer Delay" => typeof(TaskNotifyCustomerDelay),
            "Chase Driver" => typeof(TaskChaseDriver),
            "Rebook Driver" => typeof(TaskRebookDriver),
            "Assign Supplier" => null,
            _ => throw new ArgumentOutOfRangeException(nameof(name), name)
        };
    }

    async Task LoadServiceBooking()
    {
        loadingException = null;
        try
        {
            serviceBooking = await Api.GetServiceBookingFullAsync(Id);
            taskParameters["ServiceBooking"] = serviceBooking;
        }
        catch (AccessTokenNotAvailableException ex)
        {
            ex.Redirect();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to load service booking.");
            loadingException = ex;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        ArgumentNullException.ThrowIfNull(Id);

        taskParameters.Add("OnCompleted", EventCallback.Factory.Create<bool>(this, TaskCompleted));
        taskParameters.Add("ServiceBooking", serviceBooking!);
        await LoadServiceBooking();
    }
}